
@font-face{
    font-family: Rubik-Regular;
    src: url("/media/Rubik-Regular.ttf");
}
@font-face{
    font-family: Rubik-Light;
    src: url("/media/Rubik-Light.ttf");
}

ul {
    background-color: #19647E;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    width: 25%;
    list-style-type: none;
    height: 100%; 
    position: fixed; 
    overflow: auto;
    font-family: Rubik-Light;
    font-size: 150%
    
}

li{
    text-decoration: none;
        transition: width 2s;
    -webkit-transition: width 2s;
}

li a {
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    color: #FDFDFF;
    text-size-adjust: 80%;
}

li a:hover {
    background-color: #59C3C3;
    width: 300px;
}

.current-page {
    color: #000000;
    background-color: #FFAF87;
    
}

.container{
    margin-left: 30%; 
    
    font-family: Rubik-Regular;
    
}

.container h1{
    padding-top: 10%;
    font-size: 300%;
    font-family: Rubik-Light;
}
