
@font-face{
    font-family: Rubik-Regular;
    src: url("/media/Rubik-Regular.ttf");
}
@font-face{
    font-family: Rubik-Light;
    src: url("/media/Rubik-Light.ttf");
}

nav {
    background-color: #19647E;
    padding-top: 30px;
    width: 25%;
    height: 100%; 
    position: fixed; 
    overflow: auto;
    font-family: Rubik-Light;
    font-size: 1.5vw;
    
}

.nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.current-page a{
    color: #191716;
    background-color: #FCD581;
}

li a {
    text-decoration: none;
    display: block;
    padding: 15px 16px;
    color: #FDFDFF;
    text-size-adjust: 80%;
    transition: all 0.3s ease 0s;
    border-bottom: solid;
    border-width: thin;
    border-bottom-color: #FDFDFF;
}

li a:hover {
    background-color: #59C3C3;
    color: #191716;
    padding: 20px 16px;
}

.container {
    margin-left: 30%;
}
.container p{
    font-size: 1vw;
    margin-top:5%; 
    margin-right:20%;
    font-family: Rubik-Regular;
}

.container h1{
    margin: 0;
    padding: 0;
    float:left;
    padding-top:10%;
    padding-bottom:4%;
    font-size: 4vw;
    font-family: Rubik-Light;
}

#fedora {
    animation: shake 3s;
    animation-iteration-count: infinite; 
}
@keyframes shake {
    0% { transform: rotate(3deg); }
    50% { transform:  rotate(-3deg); }
    100% { transform:  rotate(3deg); }
}
    
.container-proposal{
   margin-left: 30%; 
}

td{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}