.btn{
    transition: .3s;
}

.btn:hover{
    background-color: #007ACC;
    padding: .8em;
    
}
.bg-background
{
  background-color: #252526;
}

.bg-currentLine{
    background-color: #505050;
}

.text-foreground
{
    color: #F1F1F1;
}

.text-comment{
    color: #7F9F7F;
}

.text-blue{
color: #007ACC;
}

.font-monospace{
font-family: monospace;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}
