html{
    font-family: 'Niramit', sans-serif;
}
.btn{
    transition: .3s;
}

.btn:hover{
    background-color: #007ACC;
    padding: .8em;
    
}
.bg-background
{
  background-color: #252526;
}

.bg-currentLine{
    background-color: #505050;
}

.text-foreground
{
    color: #F1F1F1;
}

.text-comment{
    color: #7F9F7F;
}

.text-blue{
color: #007ACC;
}

.font-monospace{
font-family: monospace;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

bg-image{
    background-image: url('https://pre00.deviantart.net/afed/th/pre/f/2012/249/e/2/grey_hexagons_by_5p4rk13r-d5ds9t4.png');
    
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.container li{
 margin-bottom: 1em;
}